.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    /* background: rgba(255, 255, 255, 0.3); */
}

.text {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #8c7a80;
    text-align: center;
}